
<div class="jumbotron panel panel-default">
  <h2>Listes des devoirs</h2><br />
  <ul class="nav nav-tabs nav-justified">
    <li ng-class="{active:isSet('pending')}" ng-click="setTab('pending')"><a href="#/entrepot/affichageEleve"><span class="badge pull-right">{{nbPending}}</span>En cours</a></li>
    <li ng-class="{active:isSet('over')}" ng-click="setTab('over')"><a href="#/entrepot/affichageEleve">Finis</a></li>
  </ul>

  <br/>
  <table class="table">
  <thead>
    <tr ng-switch on="tab">
      <th class="col-xs-3">Matiere</th>
      <th class="col-xs-3">Nom du rendu</th>
      <th class="col-xs-3">Date du rendu</th>
        <th class="col-xs-3" ng-switch-when="pending">Temps restant</th>
        <th ng-switch-default> Fini depuis</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="d in devoirs" ng-show="isSet(d.state)" >
      <td>{{d.matiere}}</td>
    <td><a href="#/entrepot/gererRendu/{{d.id}}">{{d.name}}</a></td>
    <td>{{d.date_rendu}}</td>
    <td>{{d.remainingTime}}</td>
  </tr>
  </tbody>

  </table>
</div>
