<div class="jumbotron panel panel-default">  
    
    <!-- Bouton de creation -->
    <div align="center">
        <a class="btn btn-lg btn-primary" href="#/entrepot/creerDevoir" role="button"><span class="glyphicon glyphicon-plus"></span> Cr&eacute;er un nouveau devoir</a>
    </div>
    
    <br />
    
    <h2>Listes des devoirs</h2><br />

  <ul class="nav nav-tabs nav-justified">
    <li ng-class="{active:isSet('pending')}" ng-click="setTab('pending')"><a href="#/entrepot/affichageEnseignant"><span class="badge pull-right">{{nbPending}}</span>En cours</a></li>
    <li ng-class="{active:isSet('waiting')}" ng-click="setTab('waiting')"><a href="#/entrepot/affichageEnseignant"><span class="badge pull-right">{{nbWaiting}}</span>A Noter</a></li>
    <li ng-class="{active:isSet('over')}" ng-click="setTab('over')"><a href="#/entrepot/affichageEnseignant">Finis</a></li>
  </ul>

    <br/>

    <table class="table">
      <thead>
        <tr ng-switch on="tab">
          <th class="col-xs-3">Matiere</th>
          <th class="col-xs-2">Nom</th>
          <th class="col-xs-2">Groupe</th>
          <th class="col-xs-2">Date</th>
          <th class="col-xs-3" ng-switch-when="pending">Temps restant</th>
          <th ng-switch-default> Fini depuis</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="rendu in rendus | filter:enseignant"  ng-show="isSet(rendu.state)">
        <td>{{rendu.matiere}}</td>
        <td><a href="#/entrepot/recuperationRendu/{{rendu.id}}">{{rendu.name}}</a></td>
        <td>{{rendu.groupe}}</td>
        <td>{{rendu.date}}</td>
        <td>{{rendu.remainingTime}}</td>
      </tr>
      </tbody>

    </table>
    
    <hr/>
    <div id="calendar"></div>
    
</div>
