<div class="jumbotron">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="resources/img/ryan.jpg" alt="Adrien Casanova">
          <div class="caption">
            <p>Adrien Casanova</p>
              <p><a href="mailto:acasanov@polytech.unice.fr" class="btn-lg btn-primary"><span class="glyphicon glyphicon-envelope"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="resources/img/kuzco.png" alt="Fabien Foerster">
          <div class="caption">
            <p>Fabien Foerster</p>
              <p><a href="mailto:foerster@polytech.unice.fr" class="btn-lg btn-primary"><span class="glyphicon glyphicon-envelope"></span></a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="resources/img/sophia.jpg" alt="Marie-Catherine Turchini">
          <div class="caption">
            <p>Marie-Catherine Turchini</p>
              <p><a href="mailto:turchini@polytech.unice.fr" class="btn-lg btn-primary"><span class="glyphicon glyphicon-envelope"></span></a></p>
          </div>
        </div>
      </div>
    </div>                
</div>
