<div class="jumbotron">
    
    <h2>Cr&eacute;ation nouveau devoir</h2>
    <br>
    <p class="lead">Veuillez remplir les champs ci-dessous afin de cr&eacute;er un nouveau devoir.</p>
    <br>

    <form name="form" class="css-form form-horizontal" novalidate>
        <div class="alert alert-danger" ng-show="submitted && !form.valid"><strong>Oops ! </strong>Formulaire invalide</div>
        <fieldset>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectMat">Mati&egrave;re*</label>
                <div class="col-md-7 has-feedback">
                    <select id="selectMat" name="matNewDev" class="form-control" ng-model="newdev.mat" ng-options="m for m in matieres" ng-change="recupMat(newdev.mat)" required></select>
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d; margin-right:1.5em;" ng-show="!form.matNewDev.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442; margin-right:1.5em;" ng-show="submitted && form.matNewDev.$error.required"></span>
                </div>
            </div>

            <!-- Choix du nom du rendu -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="inputName">Nom du devoir*</label>
                <div class="col-md-7 has-feedback">
                    <input type="tel" class="form-control" id="inputeName" ng-model="newdev.name" name="nameNewDev" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d;" ng-show="!form.nameNewDev.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442;" ng-show="submitted && form.nameNewDev.$error.required"></span>
                </div>
            </div>

            <!-- Selection par promotion ou groupe -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="checkGrp">Portee du devoir</label>
                <div class="col-md-7">
                    <div class="btn-group" >
                        <label class="btn btn-default">
                            <input type="radio" ng-model="newdev.checked" checked value=false> Tous
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" ng-model="newdev.checked" value=true> Par groupe
                        </label>
                    </div>
                </div>
            </div>
            <!-- Affichage du choix promo/groupe -->
            <div ng-show="newdev.checked">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="checkGrp">Groupe*</label>
                            <div class="col-md-7 has-feedback">
                                <select id="selectGrp" class="form-control" name="groupe" ng-model="newdev.gr" 
                                        ng-options="g for g in groupes" ng-change="dispValid('newdev.gr', 'GrNewDev')"></select>
                                <span id="okGrNewDev" class="glyphicon glyphicon-ok form-control-feedback" style="color:#3c763d;display:none;margin-right:1.5em;"></span>
                                <span id="errGrNewDev" class="glyphicon glyphicon-remove form-control-feedback" style="color:#a94442;display:none;margin-right:1.5em;"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="datetime">Date*</label>
                            <div class="col-md-5 has-feedback" id="datetime">
                                <input name="dateNewDev" class="form-control" type="date" ng-model="newdev.date" required></input>
                                <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d;" ng-show="!form.dateNewDev.$error.required"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442;" ng-show="submitted && form.dateNewDev.$error.required"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Heure*</label>
                            <div class="col-md-5 has-feedback">
                                <input name="timeNewDev" class="form-control" type="time" ng-model="newdev.heure" required></input>
                                <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d;" ng-show="!form.timeNewDev.$error.required"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442;" ng-show="submitted && form.timeNewDev.$error.required"></span>
                            </div>                            
                        </div>
                    </div>
                </div>
            
                <!-- Div d'ajout -->
                <div id="addDev"></div>

                <!-- Bouton d'ajout d'un autre devoir si choix de creation par groupe -->
                <div class="form-group">
                    <add-button></add-button>
                </div>
            </div>

            <!-- Date et Heure -->
            <div class="form-group" ng-hide="newdev.checked">
                <label class="col-md-4 control-label" for="datetime">Date*</label>
                <div class="col-md-5 has-feedback">
                    <input name="dateNewDev" class="form-control" type="date" ng-model="newdev.date" required></input>
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d;" ng-show="!form.dateNewDev.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442;" ng-show="submitted && form.dateNewDev.$error.required"></span>
                </div>
            </div>

            <div class="form-group" ng-hide="newdev.checked">
                <label class="col-md-4 control-label" for="datetime">Heure*</label>
                <div class="col-md-5 has-feedback">
                    <input name="timeNewDev" class="form-control" type="time" ng-model="newdev.heure" required></input>
                    <span class="glyphicon glyphicon-ok form-control-feedback" style="color: #3c763d;" ng-show="!form.timeNewDev.$error.required"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback" style="color: #a94442;" ng-show="submitted && form.timeNewDev.$error.required"></span>
                </div>                    
            </div>

            <!-- Description du devoir -->
            <div class="form-group">
                <label class="col-md-4 control-label">Descriptif/Consignes</label>
                <div class="col-md-7">
                    <textarea class="form-control" name="descriptif" ng-model="newdev.descr"></textarea>
                </div>
            </div>

            <!-- Ajout d'extensions de fichiers -->
            <div data-ng-controller="TypeController">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectTypes">Types de fichiers</label>
                    <!-- zone de saisie déclenchant l'autocomplétion -->
                    <div class="input-group col-md-7" id="selectTypes">
                        <input type="text" class="form-control" placeholder="Extension ..." list="types" data-ng-model="type" />
                        <datalist id="types">
                            <option data-ng-repeat="item in typeslist" value="{{item.name}}" ng-click="clickData()"/>
                        </datalist>
                        <span class="input-group-btn"><button class="btn btn-default" ng-click="addType(type)"><span class="glyphicon glyphicon-plus"></span></button></span>  
                    </div>
                </div>

                <div class="form-group panel panel-default" ng-hide="newdev.selected.length == 0">
                    <div class="panel-body">
                        <div class="btn-group" ng-repeat="typeS in newdev.selected" style="margin:0 0 0.5em 0.5em">
                            <button class="btn btn-xs btn-primary" disabled><strong>{{typeS.name}}</strong></button>
                            <button type="button" class="btn btn-xs btn-primary" ng-click="deleteType(typeS.name)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-primary" type="submit" role="button" ng-click="submit(form, newdev)">Cr&eacute;er</button>

        </fieldset>    
    </form>

</div>