  <div class="jumbotron">
    <ul class="nav nav-pills pull-left">
      <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></li>
    </ul>
        
    <!-- En-tete -->
    <div class="row">
        <div class="col-xs-12"><h2>{{devoir.name}}</h2></div>
        <div class="col-xs-12"><label>A rendre avant le : {{devoir.date}}</label></div>
        <div class="col-xs-12"><label>Reste : {{devoir.remainingTime}}</label></div>        
    </div>
    <div class="row progress progress-striped active">
        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
    </div>
    
    <br/>

    <!-- Descriptif -->
    <div class="panel panel-default">
        <div class="panel-heading">Descriptif du rendu</div>
        <div class="panel-body">
            {{devoir.description}}
        </div>
    </div>
      
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Historique des rendus</div>
    <!-- Table -->
        <div style="overflow-y:scroll; height: 20%;">
            <table class="table">
                <tr>
                    <th class="col-xs-4"> Nom </th> 
                    <th class="col-xs-3"> Date </th> 
                    <th class="col-xs-3" align="center"> T&eacute;l&eacute;chargement </th>
                    <th class="col-xs-2" align="center"> Suppression </th>
                </tr> 
                <tr ng-repeat="r in rendus_precedents">
                    <td>{{r.tag}}</td>
                    <td>{{r.date}}</td>
                    <td align="center"><button type="button" class="btn btn-default" ng-click="popup_telechargement()"><span class="glyphicon glyphicon-save"></span></button></td> 
                    <td align="center"><button type="button" class="btn btn-default" ng-click="suppression(r.tag)"><span class="glyphicon glyphicon-remove"></span></button></td> 
                </tr>
            </table>
        </div>
    </div>

    <div ng-show="devoir.state == 'pending'">
        <div class="panel panel-default">
            <div class="panel-heading">Zone de rendu</div>
            <div id="historique" class="panel-body">
                <!-- Zone de depot de fichiers : par clic ou par drop -->
                <div style="height: 60px">
                    <input ng-file-select="onFileSelect($files)" class="col-xs-6" type=file id="files" name="files[]" multiple style="padding-top:15px; " />
                    <div ng-file-drop="onFileSelect($files)" class="col-xs-6" id="drop_zone" style="border-style: dashed;border-width: 1px; height: 100%; padding-top:15px">D&eacute;posez vos fichiers ici</div>
                </div>
                <br />
                <div ng-hide="invalidFiles.length == 0" class="panel panel-danger">
                    <div class="panel-heading">Fichiers invalides</div>
                    <span ng-repeat="fn in invalidFiles" class="label label-danger" style="margin:0 0 0.5em 0.5em">{{fn}}</span>
                </div>
                <div ng-repeat="f in filesUp"><span class="glyphicon glyphicon-file" style="margin-right: 5px"></span>
                    <span><font size="2px">{{f.name}}  - {{f.size}} bytes</font></span>
                </div>
            </div>
        </div>

        <!-- Bouton de creation -->
        <button class="btn btn-lg btn-primary">Rendre</button>
    </div>
</div>
