<div class="jumbotron">
    <h1>Entrepôt 2.0</h1>
    <br />
    <form novalidate name="loginForm" class="form-horizontal">
        
        <div class="form-group" style="display:inline-block">
            <div class="col-md-12">
                <input type="texte" class="form-control input-md" placeholder="Login" ng-model="login" required />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
                <div class="radio">
                    <label for="statusEns">
                        <input type="radio" id="statusEns" name="status" ng-model="status" value="enseignant">Enseignant
                    </label>
                </div>
                <div class="radio">
                    <label for="statusEtu">
                        <input type="radio" id="statusEtu" name="status" ng-model="status" value="etudiant">Etudiant
                    </label>
                </div>
            </div>
        </div>
        
        <input type="submit" ng-click="connection()" class="btn btn-primary">
        
    </form>
</div>
