<div class="jumbotron">
    <ul class="nav nav-pills pull-left">
      <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a></li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li ng-show="devoir.state == 'pending'"><a href="#/entrepot/modifDevoir/{{devoir.id}}"><span class="glyphicon glyphicon-cog"></span> Modifier</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></li>
    </ul>
    
    
    <br/><br/>
    
    <div>
        <h2 id="nom-rendu">{{devoir.matiere}} - {{devoir.name}}</h2>
        <div><label ng-show="devoir.checked">Groupe : {{devoir.groupes[0].name}}</label></div>
        <label>A rendre avant le : {{devoir.date}} - {{devoir.heure}}</label>
    </div>
    <br />

    <div id="main-rendu">
        <p>
            <a class="btn btn-lg btn-default" href="#" role="button">Tout recuperer</a>
        </p>
        <br />

        <div class="progress">
            <div id="rendu" class="progress-bar progress-bar-success" style="width:{{nbSuccess * 100 / nbStudents}}%">{{nbSuccess}}</div>
            <div id="rendu" class="progress-bar progress-bar-warning" style="width:{{nbWarning * 100 / nbStudents}}%">{{nbWarning}}</div>
            <div id="rendu" class="progress-bar progress-bar-danger" style="width:{{nbDanger * 100 / nbStudents}}%">{{nbDanger}}</div>
        </div>
    </div>

    <hr style="border-bottom : dashed 1px black"/>

    <div id="details-rendu">
        <p>S&eacute;lectionner :</p>
        <div>
            <button type="button" class="btn btn-default" ng-click="setQuery('')">Tous</button>
            <button type="button" class="btn btn-success" ng-click="setQuery('success');">Rendu</button>
            <button type="button" class="btn btn-warning" ng-click="setQuery('warning');">En retard</button>
            <button type="button" class="btn btn-danger" ng-click="setQuery('danger');">Non rendu</button>
            <span class="form-group">
                <div class="col-md-4">
                    <input type="text" ng-model="query" class="form-control" placeholder="Filtre">
                </div>
            </span>
        
        </div>                                        

        <br />

        <div id="studentsList" class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" name="selectAll" ng-model="allChecked" ng-click="selectAll()"></th>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="student in etudiants | orderBy:'rendus[0].date' | filter:query" class="alert-{{student.state}}">
                        <td><input type="checkbox" name="selectStudent" ng-model="student.checked" ng-change="mailSelection()"></td>
                        <td>{{student.name}}</td>
                        <td>{{student.rendus[0].date}}</td>
                        <td><a href="mailto:{{student.mail}}" style="font-size:1.3em"><span class="glyphicon glyphicon-envelope"></span></a></td>
                    </tr>
                </tbody>
            </table>                                            
        </div><!-- /list -->

        <button type="button" class="btn btn-default" ng-click="displaySelection()">R&eacute;cup&eacute;rer la s&eacute;lection</button>
        <a href="{{mailtoList}}" class="btn btn-default">Mailer la s&eacute;lection</a>
    </div><!-- /details-rendu -->

</div>
