<!DOCTYPE html>

<html ng-app="entrepotApp">
    <head>
      <meta charset="utf-8">
      <title>Entrepôt 2.0</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="css/jumbotron-narrow.css" rel="stylesheet">
        <link rel='stylesheet' href='bower_components/fullcalendar/dist/fullcalendar.css' />

        <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
      <!-- Rooting -->
      <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
      <script src="bower_components/momentjs/min/moment.min.js"></script>
      <script src="bower_components/countdownjs-mirror/countdown.min.js"></script>
      <script src="bower_components/moment-countdown/bin/moment-countdown.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

        <!-- CONTROLLERS MANIAS -->
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/loginCtrl.js"></script>
        <script src="js/affichage-devoirs-eleve-controller.js"></script>
        <script src="js/affichage-devoirs-ens-controller.js"></script>
        <script src="js/creation-rendu-controller.js"></script>
       <script src="js/effectuer-rendu-eleve-controller.js"></script>
      <script src="js/recuperation-controller.js"></script>
        <script src="js/modifier-devoir-controller.js"></script>
    </head>

    <body ng-controller="mainController">

        <div class="container">
          <div class="header" >
            <ul class="nav nav-pills pull-right">
              <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
              <li><a href="#/entrepot/contact"><span class="glyphicon glyphicon-pencil"></span> Contact</a></li>
              <li><a href="#" ng-show="isLogged" ng-click="deconnection();"><span class="glyphicon glyphicon-off"></span> Deconnection</a></li>
            </ul>
            <h3 class="text-muted"><span class="glyphicon glyphicon-home"></span> Entrep&ocirc;t 2.0</h3>
          </div><!-- /header -->

            <div ng-view></div>

        <div class="footer">
            <p>&copy; Entrepôt v.2014</p>
        </div><!-- /footer -->

        </div> <!-- /container -->

    </body>

</html>
